.body{
    height: 1000px ;
}
.art-container {
    width: 60% ;
    margin:auto;
}
.art-span {
    font-size: 0.8em;
    color: #888;
}

.art-inputs{
    width: 97%;
    height: 97%;
    margin: auto;
}
.navbar-dark .navbar-nav .nav-link{
    color: rgba(253, 250, 250, 1);
}
.leftColum {
    margin-top: 31px;
}
.cat {
    width: 25%;
    margin-top: 70px;
}
.cat .catinput {
    margin-bottom: 10px;
}
.table {
width: 60%;
margin-top: 30px;
}
.reviews {
    height: 100px;
    width: 50%;
    margin-top: 30px;
}
.comment {
    width: 100%;
    margin-top: 30px;
}
